# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# -------------------------
# Virtual Environment
# -------------------------
.venv/
venv/
env/

# -------------------------
# Flask
# -------------------------
instance/
*.log

# -------------------------
# OS / Editor
# -------------------------
.DS_Store
.idea/
.vscode/

# -------------------------
# Database (IMPORTANT)
# -------------------------
gym.db
